<footer id="footer" class="page-footer  pink">
        <div class="container">
          <div class="row">

            <div class="col l6 s12">
              <h5 class="white-text">Locations</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">123 Sweet St</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Avon, CT 06001</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">(860) 555-1234</a></li>
                <br>
                <li><a class="grey-text text-lighten-3" href="#!">42 Sugar Ave</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Canton, CT 06019</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">(860) 555-4321</a></li>
              </ul>
            </div>

            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Hours</h5>
                <ul>
                    <li>
                          Mon - Fri: 10 am to 5 pm
                    </li>
                    <li>
                          Sat: 9 am to 3 pm
                    </li>
                    <li>
                          Sun: 9 am to 12 pm
                    </li>
                </ul>
                <div class="foot-container">
                    <a class="grey-text text-lighten-4 right social" href="mailto:anemail@gmail.com"><img src="/imgages/email.png" alt=""></a>
                    <a class="grey-text text-lighten-4 right social" href="#!"><img src="/imgages/facebook.png" alt=""></a>
                    <a class="grey-text text-lighten-4 right social" href="#!"><img src="/imgages/twitter.png" alt=""></a>
                    <a class="grey-text text-lighten-4 right social" href="#!"><img src="/imgages/instagram.png" alt=""></a>
                    </div>
              </div>
          </div>
        </div>
        <div class="myFooter pink">

        </div>
        <!-- credits -->
        <div class="credits">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </footer>

<!-- Jquery -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>


<!-- Materialize JS -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    
    
    $(document).ready(function(){

    $('.sidenav').sidenav();
    
    $(".dropdown-trigger").dropdown();

  });

  
  </script>
