<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Cake Gypsy</title>
<!-- Favicon -->
<link rel="icon" href="/imgages/favicon.ico" type="image/x-ico">
<!-- <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/> -->
<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Materialize CSS Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Main CSS -->
<link rel="stylesheet" href="css/main.css">

