<nav>
    <!-- dropdown menu -->
        <ul id="dropdown1" class="dropdown-content">
                <li><a href="cupcakes">Cupcakes</a></li>
                <li><a href="cookies">Cookies & Bars</a></li>
                <li><a href="cakePop">Cake Pops</a></li>
                <li><a href="cakes">Cakes</a></li>
                <li><a href="macarons">Macarons</a></li>
              </ul>
        <!-- Navbar content -->
    <div class="nav-wrapper pink">
        <a class="brand-logo gypsy" href="/">Cake Gypsy</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                    <a href="#bottom-section">About</a>
            </li>
            <li>
                    <a href="contact">Contact</a>
            </li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">Treats<i class="material-icons right">arrow_drop_down</i></a>
            </li>

            <li class="divider"> </li>
            <li>
                    <a href="/create">Create</a>
            </li>
            <li>
                    <a  href="/seedTreats">Seed</a>
            </li>
        </ul>
    </div>
        
            


</nav>
