<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head.ejs %>
</head>
<body class="cake-photo">
    <!-- top nav -->
    <% include ../partials/nav.ejs %>

    <!-- Cakes -->
    <div class="container">
       <br><br>
            <h3 class="center card-title-font">Build Your Cake</h3>
            <div class="row center">
                    <div class="col s12 m6 l4">
                      <div class="card-panel card-color">
                        <h5 class="comforta">Choose your Cake</h5>
                        <ul>
                            <li>Vanilla</li>
                            <li>Chocolate</li>
                            <li>White</li>
                            <li>Red Velvet</li>
                            <li>Carrott</li>
                            <li>Orange</li>
                            <li>Lemon</li>
                        </ul>

                      </div>
                    </div>
                    <div class="col s12 m6 l4">
                            <div class="card-panel card-color">
                              <h5 class="comforta">... your Filling</h5>
                              <ul>
                                  <li>Strawberry Preserves</li>
                                  <li>Passion Fruit Preserves</li>
                                  <li>Lemon Curd</li>
                                  <li>Dark Chocolate Ganache</li>
                                  <li>Vanilla Custard</li>
                                  <li>Chocolate Custard</li>
                                  <li>Dulce de Leche</li>
                              </ul>
                            </div>
                    </div>
                    <div class="col s12 m6 l4 ">
                            <div class="card-panel card-color">
                              <h5 class="comforta">...and your Frosting</h5>
                              <ul>
                                <li>Vanilla</li>
                                <li>Chocolate</li>
                                <li>Strawberry</li>
                                <li>Raspberry</li>
                                <li>Lemon</li>
                                <li>Coconut</li>
                                <li>Salted Caramel</li>
                              </ul>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col s3 m4 pink lighten-5 center">
                          <br>
                            <h4 class="comforta">Pricing</h4>
                            <br>
                            <p class="lh1"><strong>6 inch</strong></p>
                            <p class="lh1">(serves 6-8) $30/$35</p>
                            <br>
                            <p class="lh1"><strong>8 inch</strong></p>
                            <p class="lh1">(serves 10-12) $40/$50</p>
                            <br>
                        </div>
                        <div class="col s3 m4 pink lighten-5 center">
                          <br>
                            <p class="lh1"><strong>10 inch</strong></p>
                            <p class="lh1">(serves 14-20) $55/$65</p>
                            <br>
                            <p class="lh1"><strong>12 inch</strong></p>
                            <p class="lh1">(serves 22-36) $85/$95</p>
                            <br>
                            <p class="lh1"><strong>14 inch</strong></p>
                            <p class="lh1">(serves 36-42) $125/$140</p>
                            <br>
                        </div>
                        <div class="col s3 m4 pink lighten-5 center">
                          <br>
                            <p class="lh1"><strong>16 inch or Half Sheet</strong></p>
                            <p class="lh1">(serves 50+) $140/$170</p>
                            <br>
                            <p class="lh1"><strong>Full Sheet</strong></p>
                            <p class="lh1">(serves 100+) $180/$230</p>
                            <br>
                            <p class="lh1"><strong>Fondant & Special Designs</strong></p>
                            <p class="lh1">also available</p>
                            <br>
                        </div>

                    </div>
            </div>

    </div>
    <!-- bottom / Store Info -->

    <% include ../partials/footer.ejs%>
</body>
</html>