<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head.ejs %>
</head>
<body>
    <!-- top nav -->
    <% include ../partials/nav.ejs %>

    <!-- Cupcakes -->
    <div class="container">
       
            <div class="row">
                    <div class="col s4">
                      <div class="card-panel brown lighten-4">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </span>
                      </div>
                    </div>
                    <div class="col s4">
                            <div class="card-panel brown lighten-4">
                              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                              </span>
                            </div>
                    </div>
                    <div class="col s4">
                            <div class="card-panel brown lighten-4">
                                <h5>Step 3</h5>
                              <span class="black-text">
                                  Choose from our variety of buttercream frosting flavors bellow:
                              </span>
                              <ul>
                                <li>Vanilla</li>
                                <li>Chocolate</li>
                                <li>Strawberry</li>
                                <li>Raspberry</li>
                                <li>Lemon</li>
                                <li>Coconut</li>
                                <li>Call for seasonal and aditional flavors</li>
                              </ul>
                            </div>
                    </div>
            </div>

    </div>
    <!-- bottom / Store Info -->

    <% include ../partials/footer.ejs%>
</body>
</html>