<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <!-- create form -->
    <div class="container">
        <br>
        <br>
            <div class="row">
                    <form class="col s12">

                      <div class="row">
                        <div class="input-field col s6">
                          <input placeholder="Strawberry Cupcake" id="name" type="text" name="name" class="validate">
                          <label for="name">Name/Title</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="unitPrice" type="number" class="validate" name="unitPrice" placeholder="3.50">
                          <label for="unitPrice">Unit Price</label>
                        </div>
                      </div>

                      <div class="row">
                            <div class="input-field col s12">
                                    <textarea id="description" name="description" class="materialize-textarea" placeholder="vanilla cake, filled with strawberry jam, topped with a Vanilla Frosting and Strawberry Frosting swirl."></textarea>
                                    <label for="description">Description</label>
                            </div>
                      </div>
                      <div class="row">
                            <div class="input-field col s12">
                                <input type="submit" class="btn lime" value="Submit">
                            </div>
                      </div>
                    </form>
                  </div>
                        
                
                
    </div>

    <% include ../partials/footer.ejs %>
</body>
</html>