<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gypsy Cakes</title>
<!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- top nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Navbar content -->

            <a class="navbar-brand gypsy" href="#">Gypsy Cakes</a>
            <!-- Toggle Nav on Smaller Screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Actual Nav links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Sweet Treats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bottom-section">About</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/create">Create</a>
                        </li>
                </ul>
            </div>
    </nav>


    <!-- create form -->
    <div>
        <form action="/" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="textarea" class="form-control" id="description" name="description">
            </div>
            <div class="form-group">
                    <label for="image">Image url</label>
                    <input type="text" class="form-control" id="image" name="image">
                </div>
            <div class="form-group">
                <label for="type">Type of Treat</label>
                <input type="text" class="form-control" id="type" name="type" placeholder="cupcake, dessert bar, cake pop, cookie, macarron, other">
            </div>
            <div class="form-group">
                    <label for="price">Unit Price</label>
                    <input type="number" class="form-control" id="price" name="price">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <!-- bottom / Store Info -->
    <div id="bottom-section">

        <!-- social -->
        <div>

        </div>
    </div>

    

    <!-- bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>