<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head.ejs %>
</head>
<body>
    <!-- top nav -->
    <% include ../partials/nav.ejs %>
    <!-- main photo -->

    <div class="parallax-container">
            <div class="parallax">
                <img src="https://images.unsplash.com/photo-1551404973-761c83cd8339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"></div>
          </div>
              <!-- treat options -->
          <div class="section">
            <div class="row container treats">
                <h3 class="sweet-text">Pick a treat to learn more!</h3>
                    <ul class="myicons">
                            <li>
                                <a href="cupcake"><img class="dessert-icons" src="/imgages/cupcake.png" alt="cupcake icon"></a>
                            </li>
                            <li>
                                    <a href="macaron"><img class="dessert-icons" src="/imgages/macarons.png" alt="macarons icon"></a>
                            </li>
                            <li>
                                    <a href="cookie"><img class="dessert-icons" src="/imgages/biscuit.png" alt="cookie icon">
                                    </a>
                            </li>
                            <li>
                                    <a href="cakepop"><img class="dessert-icons" src="/imgages/cake-pop.png" alt="cake pop icon"></a>
                            </li>
                            <li>
                                    <a href="cakes"><img class="dessert-icons" src="/imgages/cake.png" alt="cake icon"></a>
                            </li>
                    </ul>
            </div>
          </div>
          <div class="parallax-container">
            <div class="parallax"><img src="https://assets.marthastewart.com/styles/wmax-520-highdpi/d24/cake-slice-065-mld109900/cake-slice-065-mld109900_horiz.jpg?itok=7N3pzHAe"></div>
          </div>
       




    <!-- testimonies -->
    <div class="carousel carousel-slider center">

            <div class="carousel-item pink lighten-5" href="#one!">
              
              <div class="container">
                  <br> <br>
                  <br> <br>
                  
                  <blockquote>
                      <p class="black-text"><em>
                          I was visiting a friend in the area and she took me to the Cake Shop for a visit. They have the best cupcakes I have ever tried! They're so fluffy and moist I just had to bring a few with me because the cupcake spots near me do not compare!
                      </em> </p>
                      <br>

                    Katelyn Miles - Brooklyn, NY
                  </blockquote>
              </div>
               </div>
            <div class="carousel-item pink lighten-5" href="#two!">
              <div class="container">
                <br><br><br><br>
                <blockquote>
                    <p class="black-text"><em>Every time one of my kids has a birthday coming up I place an order for cupcakes with the Cake Shop. They are hands down the best cupcake shop in the area and my children just love their flavors and special decorations. 
                    </em> </p>
                    Olga Borek - Burlington, CT
                </blockquote>
              </div>
             </div>
            <div class="carousel-item pink lighten-5" href="#three!">
              <div class="container">
                <br><br><br><br>
                <blockquote>
                  <p><em>
                      I was so happy to discover this quaint little shop that has gluten free cupcakes!! I have a severe gluten allergy and cannot remember a time where my gluten free dessert was this delicious. Thanks The Cake Shop!
                  </em></p>

                  Samantha Paul - Westerly, RI
                </blockquote>
              </div>
            </div>
          </div>
                
        

    <!-- bottom / Store Info -->
    <div id="bottom-section">

        <!-- social -->
        <div>

        </div>
    </div>
    
              
<script>
    document.addEventListener('DOMContentLoaded', function() {
    let elems = document.querySelectorAll('.parallax');
    let instances = M.Parallax.init(elems, {responsiveThreshold: 300});
  });

    document.addEventListener('DOMContentLoaded', function() {
    let elems = document.querySelectorAll('.carousel');
    let instances = M.Carousel.init(elems, {duration:100, padding:2, indicators:true, fullWidth: false});
  });
 
</script>

<% include ../partials/footer.ejs%>
           
</body>
</html>