@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.gypsy {
    font-family: 'Nova Slim', cursive;
    white-space: nowrap;
    overflow: hidden;
}

.main-photo {
    background-image: url("https://images.unsplash.com/photo-1486428128344-5413e434ad35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50%);
    height: 50%;
}

.myContainer {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap
}

form {
    width: 100%
}

.card-action {
    display: flex;
    align-items: center;
}

.parallax-container {
    margin-top: 0;
  }

.parallax {
    height: 70%
}

.treats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myicons { 
    display: flex;
    justify-content: space-between;
    width: 80%
}

li {
    padding: 1%
}

.dessert-icons {
    width: 100px
}

.credits {
    font-size: 10px;
    text-align: center
}

.footer-copyright {
    display: flex;
    justify-content: center
}

.social {
    /* width: 10px */
}

.sweet-text {
    font-family: 'Sacramento', cursive;
}

.foot-container {
    display: flex;
    justify-content: flex-start;
}

